<h1>Editing User</h1>

<%= render 'form', user: @user %>
<% if true %>
    <%= button_to 'Make User An Officer', toggle_admin_user_path(@user), data: { confirm: 'Are you sure?' }%>
    <br>
    <%= button_to 'Mark Dues as Paid', toggle_dues_user_path(@user) %>
<%end%>
<br/>

<br>
<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
